# Default Handler
handlers=java.util.logging.ConsoleHandler

### for more verbose logging change 'INFO' to 'FINE', 'FINER', OR 'FINEST' ###
.level=WARNING

# The Console Logger Configuration.
java.util.logging.ConsoleHandler.level=WARNING
java.util.logging.ConsoleHandler.formatter=java.util.logging.SimpleFormatter

# The detailed build logger
java.util.logging.FileHandler.level=FINEST
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter
java.util.logging.FileHandler.limit=8388608
java.util.logging.FileHandler.count=4
java.util.logging.FileHandler.pattern=log/build.log
java.util.logging.FileHandler.append=true

# Only receive warnings from Hibernate.
org.hibernate.level=WARNING

# Only receive warnings from Spring.
org.springframework.level=WARNING

# Loggers for SACWIS code
gov.georgia.dhr.dfcs.sacwis.service=FINE
gov.georgia.dhr.dfcs.sacwis.service.aop=WARNING

# Loggers for libraries
org.hibernate=WARNING
org.springframework=WARNING
org.apache.jasper=INFO

### log HQL query parser activity
#org.hibernate.hql.ast.AST=FINE

### log just the SQL
org.hibernate.SQL=FINE
org.hibernate.SQL.handler=java.util.logging.FileHandler
org.hibernate.SQL.useParentHandlers=false

### log JDBC bind parameters ###
org.hibernate.type=INFO
#org.hibernate.type=FINE

### log schema export/update ###
org.hibernate.tool.hbm2ddl=FINE

### log HQL parse trees
#org.hibernate.hql=FINE

### log cache activity ###
#org.hibernate.cache=FINE

### log transaction activity
#org.hibernate.transaction=FINE

### log JDBC resource acquisition
#org.hibernate.jdbc=FINE

### enable the following line if you want to track down connection ###
### leakages when using DriverManagerConnectionProvider ###
#org.hibernate.connection.DriverManagerConnectionProvider=FINEST
