<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AaFunding.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AaFundingReasonElig.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AddressPersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdminAllegation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdminDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdminReview.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoAsstAgreementNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoAsstMemNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoInfo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoInfoCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoInfoCbxSent.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoInfoFamily.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoNewName.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoptionSubsidy.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoptTprOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoSiblingHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoSiblingExtLnkHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdoSubsidyRate.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdptSubEventLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AdverseAction.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Afcars.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AfcarsElementHelp.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AfcarsAdoptionHistory.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AgencyCustodialParents.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Allegation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AllegationHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/AllegEvidence.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Approval.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ApprovalEventLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ApprovalRejection.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Approvers.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Attendees.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/BatchParameters.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CapsCaretaker.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CapsCase.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CapsResource.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseBudgetLimit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseBudgetLimitWaiver.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseFileManagement.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseMerge.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReview.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewCateg.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewCategLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewItem.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewItemLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewQuesResponse.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewQuesLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewCbxLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewCbxResponse.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseReviewSurvey.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CaseWatchFactorHelp.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CfpDocument.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CfpStatus.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Characteristics.hbm.xml"/> 
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildDeath.hbm.xml"/>   
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildPlan.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildPlanItem.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildSupportInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildsupRefOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildPlanParticip.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChildrenFirstReferral.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChldDthCauseCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ChldDthNrFltySeriInj.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Cintake.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Cintakeresp.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/City.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ClientInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ClientOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CnsrvtrshpRemoval.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CodesTables.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CodesTablesHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CodesTablesInfo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CollegeExam.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CompAlg.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Contact.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactDiscussedCbx.hbm.xml"/> 
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactFor.hbm.xml"/>    
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactRule.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactPrivConverCbx.hbm.xml"/>    
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactNarrative.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContactStandards.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Contract.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContractCounty.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContractCountyView.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContractPeriod.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContractService.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ContractVersion.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CostReimDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CountyBudgetLimit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CprsOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CpsChecklist.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CpsChecklistItem.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CpsInvstDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CpTopicInstruction.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CriminalHistNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CriminalHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CrsAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CsSummaryCompLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CsupChildleftcareOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CsupParentOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CwCaseErrors.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CwCaseWarnings.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CwLastViewed.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CwSummary.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/CwUpcomingEvents.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DeleteCase.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DelvrdSvcDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DiligentSearch.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DiversionConclusion.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DiversionConclusionNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DocumentTemplate.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/DocumentTemplateType.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EcemMonthMv.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EcemMonthYearMv.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EducationalHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Eligibility.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmergencyAssist.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmpJobHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Employee.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmployeeSkill.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmpOnCallLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmpSecClassLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EmpTempAssign.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Equivalency.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ErrorList.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Event.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EventPersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/EventPlanLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExamDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExcChildAdoInfoCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExchangeChild.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExchangeChildFamLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExchangeHome.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExtDocPersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ExtDocumentation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Facility.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilAlleg.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilAllegPriorReview.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilityInjury.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilityInvstDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilityLicenseType.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FacilityLoc.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Facsrv.hbm.xml" />
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FaHomeIntEthnic.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FaIndivTraining.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyAssmt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyAssmtFactors.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyPlan.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyPlanEval.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyPlanEvalItem.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyPlanItem.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyPlanTask.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FamilyServiceReferral.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FccpChild.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FccpChildCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FccpDtlFormNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FccpFamily.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceAfdcIncomeLimit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceApplication.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceApplicationTempEvent.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceEligibility.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceExpenditures.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceIncome.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceIveIncomeLimit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceNarrative.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FcePerson.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FcePweUnderemployed.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceReasonNotEligible.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceReview.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceStepparentAllowance.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FceThirdPartyInsurance.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FosterCareChildren.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FosterCareRate.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FosterHomeConv.hbm.xml"/>
	<mapping resource="gov/georgia/dhr/dfcs/sacwis/db/FosterHomeConvPerLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/HomeApplicantCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/HomeApplicantInfo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/HomeEthnicity.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/HomeRace.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IcpcDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IcpcEnclosedDocCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncmgDetermFactors.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomeAndResources.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomeResourceInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomeResourceOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingAddress.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingEthnicity.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingFacility.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingName.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingNarrative.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingPerson.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingPersonId.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingPhone.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IncomingRace.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/InitialMedicaidApp.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/InitialMedParent.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IntakeAllegation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/IntakeReportNarrative.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Invoice.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/InvoiceInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/InvoiceOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LawEnforcZip.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalAction.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalActionCrtLang.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalActionOutcome.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalActionsNarrative.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalStatus.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LegalStatusAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/LicensingInvstDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/MailCode.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/MedicaidCoaInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/MedicaidCoareqOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/MedicaidUpdate.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Medication.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Message.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Metaphor.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Name.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Ncands.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NcandsElementHelp.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NeedsOutcomes.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NeedsOutcomesDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NonCompliance.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NonComplianceCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NonComplianceChild.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NonEquivalency.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NonIncidentAfcarsInfo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NytdBaseFollowUpLookup.hbm.xml"/>
	<mapping resource="gov/georgia/dhr/dfcs/sacwis/db/NytdRandom.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Office.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/OfficeCountyLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/OfficePhone.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/OnCall.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/OnCallCounty.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/OutputLaunchEventLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Pal.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PalFollowUp.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PalPublicAssist.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PalService.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PaymentOfCare.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Person.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonAddress.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonCategory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonCitizenship.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonEligibility.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonEligibilityDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonEthnicity.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonHomeRemoval.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonId.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonLoc.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonMerge.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonMergeView.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonPhone.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PersonRace.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PgmLcnsreTyps.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PhoneticName.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Placement.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PlacementReferral.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PlanGoal.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PlanParticipant.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PlanSecGoal.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PlanStep.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PolicyWaiver.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalCommand.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalLoginAudit.hbm.xml"/>    
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUser.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUserAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUserDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUserSecClassLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalSecurityClassAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PorUsrSecClassLnkAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUserVendorLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalUsrVendorLnkAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalMetaphor.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PortalSecurityClass.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Ppt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PptParticipant.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ProfessionalAssmt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ProtectiveServiceAlert.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/PsaPersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RecordsCheck.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RecordsRetention.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RecRetenType.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Referral.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ReferralChrctr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ReferralHomeLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ReferralPersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RejectionReason.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Relationship.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RelativeCareAssmt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RelativeCareAssmtPerson.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RemovalCharAdult.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RemovalCharChild.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RemovalReason.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ReportList.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ReportParameter.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Reports.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourceAddress.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourceChrctr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourceHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourceHistoryAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourcePhone.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResourceService.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ResponseTimes.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RestrictedFunds.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskArea.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskAssessment.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskAssmtFmlyStr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskCategory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskFactors.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskHistoryReport.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RiskInvActions.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/RsrcLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SaDrugExposedNewborns.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SafetyRsrcAsmntNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SaReasonableEfforts.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SaSafetyAssessment.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SaSafetyFactor.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SafetyResource.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SafetyResourceChild.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SafetyResourceNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SchemaVersion.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ScreeningRefNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SecurityClass.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/ServiceAuthorization.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Sibling.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SiblingExternalLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SiblingGroup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Situation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpclInvestigation.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpclInvHmeWaiverChildHist.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpclInvStateConcur.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpecialNeedsDetermination.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpecSvcs.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpclSvcAaaNarr.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpPersonsRespnsbl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpSafetyFactors.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpSafetyPlan.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpwbAgeGroupLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SpwbChckListLookup.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SrHouseholdMembers.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SrChildConsiderPlcmnt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Stage.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StageLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StagePersRelMapCustody.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StagePersRelMapStgPrg.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StagePersonAddHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StagePersonLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StageProg.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StageRepLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StageReopen.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StageReopenCbx.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/StffAsgnmtHistory.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SvcAuthDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SvcAuthEventLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SvcAuthUasEntCode.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/SvcDelvDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Task.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/TcmClaim.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/TcmClaimInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/TcmClaimOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/TempStagePersLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Todo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/TodoInfo.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Tribal.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/UasEntCodeMtnt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/UasEntCodeMtntAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/UasPrgCodeMtntAudit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/UasProgramCodeMtnt.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Unit.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/UnitEmpLink.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/VendorInbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/VendorOutbound.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/VisitationType.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/Workload.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/WtlpDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/WtlpPlan.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/YouthDetail.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/YouthReportDtl.hbm.xml"/>
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/YrppLink.hbm.xml"/>
    <!-- Will be removed soon. -->
    <mapping resource="gov/georgia/dhr/dfcs/sacwis/db/WebServicesTestTable.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
