<html>
	<head>
		<title>Blank Narrative 2</title>
		<meta http-equiv="Content-Language" content="en-us">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	    <meta http-equiv="x-rim-auto-match" content="none"/>
	    <meta name="HandheldFriendly" content="true"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link title="generic" href="document.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="margin1">
			<div id="topNavButtons" class="saveCloseButtons">
			  <table border="0" cellspacing="0" cellpadding="3" width="100%">
			    <tr>
			      <td class="alignRight docSaveButton" width="18%">
				    <a href="javascript:Save();">
					  <img border="0" src="/grnds-docs/images/shared/btnSave.gif" alt="Save"/>
				    </a>
			      </td>
			    
			      <td class="alignRight docCloseButton" width="18%">
				    <a href="javascript:CloseNarr();">
					  <img border="0" src="/grnds-docs/images/shared/btnClose.gif" alt="Go Back"/>
				    </a>
			      </td>
			    </tr>
			  </table>
			</div>
			<table width="100%">
			    <thead>
				  <tr>
                       <td><br></td>
				  </tr>
				</thead>
				<tbody>
					<tr>
						<td id="tdSpanBlankNarrative"><br>
							<span id="spanBlankNarrative">[[txtBlankNarrative]]</span>
							<textarea id="txtBlankNarrative" name="txtBlankNarrative"></textarea>
						</td>
					</tr>
					<tr>
						<td id="tdSpanPostComment"><br>
						    Comments:<br>
							<span id="spanPostComment">[[txtPostComment]]</span>
							<textarea id="txtPostComment" name="txtPostComment"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="bottomNavButtons" class="saveCloseButtons">
			  <table border="0" cellspacing="0" cellpadding="3" width="100%">
			    <tr>
			      <td class="alignRight docSaveButton" width="18%">
				    <a href="javascript:Save();">
					  <img border="0" src="/grnds-docs/images/shared/btnSave.gif" alt="Save"/>
				    </a>
			      </td>
			    
			      <td class="alignRight docCloseButton" width="18%">
				    <a href="javascript:CloseNarr();">
					  <img border="0" src="/grnds-docs/images/shared/btnClose.gif" alt="Go Back"/>
				    </a>
			      </td>
			    </tr>
			  </table>
			</div>
		</div>
	</body>
</html>
