<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  
	<servlet><!-- 5 -->
		<servlet-name>homePageServlet</servlet-name>
		<servlet-class>com.company.iservlet.web.servlet.HomePageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet><!-- 5 -->
		<servlet-name>registrationPageServlet</servlet-name>
		<servlet-class>com.company.iservlet.web.servlet.RegistrationServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ajaxServlet</servlet-name>
		<servlet-class>com.company.iservlet.web.servlet.AjaxServlet</servlet-class>
	</servlet>
	
	<servlet-mapping><!-- 6 -->
		<servlet-name>homePageServlet</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping><!-- 6 -->
		<servlet-name>registrationPageServlet</servlet-name>
		<url-pattern>/registrationPage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping><!-- 6 -->
		<servlet-name>ajaxServlet</servlet-name>
		<url-pattern>/ajaxRequest</url-pattern>
	</servlet-mapping>

</web-app>
