body
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

td           
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
}

thead        
{ 
  display: table-header-group
}

h1           
{ 
  font-family: Arial;
  font-size: 12pt;
  text-align: center;
  font-weight: bold
}

h2           
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  text-decoration: underline
}

h3           
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
  text-decoration: underline
}

.pagebreak
{
  page-break-after: always
}

.tableDirections th
{
  font-family: Arial;
  font-size: 8pt;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  vertical-align: top
}

.tableDirections td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  vertical-align: top
}

.tableInstructions th
{

}

.tableInstructions td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  vertical-align: top
}

.tableLogo1 th 
{ 
  font-family: Arial;
  font-size: 8pt;
  text-align: right;
  font-weight: bold;
  vertical-align: bottom
}

.tableLogo1 td 
{ 
  font-family: Arial;
  font-size: 14pt;
  text-align: left;
  vertical-align: middle
}

.tableLogo2 th 
{ 
  font-family: Arial;
  font-size: 8pt;
  text-align: left;
  font-weight:normal;
  vertical-align: top
}

.tableLogo2 td 
{ 
  font-family:Arial;
  font-size: 8pt;
  text-align: right;
  font-weight:normal;
  vertical-align: top
}

.tableHeader th 
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: right;
  font-weight: bold;
  vertical-align: top
}

.tableHeader td 
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  vertical-align: top
}

.table1 th   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: right;
  font-weight: bold;
  vertical-align: top
}

.table1 td   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table2 th   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  vertical-align: top
}

.table2 td   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
  vertical-align: top
}

.table3 th   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  vertical-align: top
}

.table3 td   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table4 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  vertical-align: top
}

.table4 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  vertical-align: top
}

.table5 th   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  vertical-align: top
}

.table5 td   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table6 th   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: right;
  font-weight: normal;
  vertical-align: top
}

.table6 td   
{ 
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table7 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table7 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table8 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: normal;
  text-decoration: underline;
  vertical-align: top
}

.table8 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table9 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
  vertical-align: top
}

.table9 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  vertical-align: top
}

.table10 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  vertical-align: top
}

.table10 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align: justify;
  vertical-align: top
}

.table11 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
  vertical-align:top
}

.table11 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align:left;
  vertical-align: top
}

.table12 th
{
  font-family: Arial;
  font-size: 8pt;
  text-align: center;
  vertical-align:top;
  font-weight:normal;
}

.table12 td
{
  font-family: Arial;
  font-size: 8pt;
  text-align:left;
  vertical-align: top;
}

.table13 th
{
  font-family: Arial;
  font-size: 10pt;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  vertical-align: top
}

.table13 td
{
  font-family: Arial;
  font-size: 10pt;
  text-align:left;
  vertical-align: top;
}

.table14 th
{
  font-family: Arial;
  font-size: 8pt;
  text-align: center;
  vertical-align:top;
  font-weight:bold;
}

.table14 td
{
  font-family: Arial;
  font-size: 8pt;
  text-align:left;
  vertical-align: top;
}

.table15 th
{
  font-family: Arial;
  font-size: 8pt;
  text-align: left;
  vertical-align:top;
  font-weight:bold;
}

.table15 td
{
  font-family: Arial;
  font-size: 8pt;
  text-align:left;
  vertical-align: top;
}

.tableBreakSpecial1 th
{
  font-family: Arial;
  font-size: 8pt;
  text-align: center;
  vertical-align:top;
  font-weight:bold;
  word-break: break-all;
}

.tableBreakSpecial1 td
{
  font-family: Arial;
  font-size: 8pt;
  text-align:left;
  vertical-align: top;
  word-break: break-all;
}

.editComment1 
{ 
  font-size: 10pt;
  font-family: Arial;
  word-wrap: break-word;
  overflow-x: hidden;
  width: 100%;
}

.editComment2
{ 
  font-size: 8pt;
  font-family: Arial;
  word-wrap: break-word;
  overflow-x: hidden;
  width: 100%;
}

.editTextBox1 
{ 
  font-size: 10pt;
  font-family: Arial;
  word-wrap: break-word;
  overflow: hidden;
}

.editTextBox2
{ 
  font-size: 8pt;
  font-family: Arial;
  word-wrap: break-word;
  overflow: hidden;
}

.editTabularText1 
{ 
  font-size: 10pt;
  font-family: Arial;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
}